<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="users">

	<!-- select 태그 3개 속성 id, resultType, parameterType
	id : 사용할 명칭(필수항목), 현재 매퍼에서 유일한 이름 사용
	parameterType : 전달받은 파라미터 데이터의 타입 지정(선택적) 
	resultType : 조회 결과값 저장하기 위한 데이터 타입
		(데이터 하나에 대한 타입 지정)
	 -->

	
	<select id="one" resultType="int">
		SELECT MAX(REF)+1
		FROM BOARD
	</select>
	
	<select id="all" resultType="model.BoardBean">
		SELECT *
		FROM BOARD
		ORDER BY REF DESC, RE_STEP ASC, RE_LEVEL ASC
	</select>
	
	<select id="info" resultType="model.BoardBean"  parameterType="int">
		SELECT *
		FROM BOARD
		WHERE NUM = #{num}
	</select>
	<!-- update 와 delete시 필요한 패스워드를 리턴 -->
	<select id="getPass" parameterType="int" resultType="string">
	   	SELECT PASSWORD
	   	FROM BOARD
	   	WHERE NUM = #{num} 
	</select>

	
	<insert id="insert" parameterType="model.BoardBean">
        INSERT INTO BOARD
        VALUES(BOARD_SEQ.NEXTVAL,#{writer}, #{email},
         #{subject}, #{password}, SYSDATE,
          #{ref}, #{re_step}, #{re_level}, 0, #{content})
	</insert>
	
	<!-- 답변글 입력 -->	
	<insert id="reInsert" parameterType="model.BoardBean">
        INSERT INTO BOARD
        VALUES(BOARD_SEQ.NEXTVAL,#{writer}, #{email},
         #{subject}, #{password}, SYSDATE,
          #{ref}, #{re_step}, #{re_level}, 0, #{content})
	</insert>
	
	<update id="update" parameterType="int">
		UPDATE BOARD
		SET READCOUNT = READCOUNT+1
		WHERE NUM = #{num}
	</update>
	
	<!--  답변글 수정 -->
	<update id="reUpdate" parameterType="model.BoardBean">
		UPDATE BOARD
		SET RE_LEVEL = RE_LEVEL+1
		WHERE REF = #{ref} AND RE_LEVEL > #{re_level}
	</update>
	
	<update id="updateBoard" parameterType="model.BoardBean">
		UPDATE BOARD
		SET SUBJECT = #{subject}, CONTENT = #{content}
		WHERE NUM = #{num}
	</update>
	
	<!-- 하나의 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE
		FROM BOARD
		WHERE NUM = #{num}
	</delete>
</mapper>